.payment-container {
  padding-bottom: 30px;
  background: var(--grey-10, #f2f2f2) !important;
}

@media (max-width: 600px) {
  .payment-container {
    padding-bottom: 30px;
    background: var(--grey-10, #f2f2f2) !important;
  }
}
